
a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

h1 {
  margin: 0;
}

.letterhead {
  background-image: url('./Images/letterhead.jpg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: center top;
}

.letterhead > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29rem;
}

.letterhead a {
  font-size: 3rem;
}

.commonroom {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
}

.commonroom.Hufflepuff {
  background-image: url("./Images/hufflepuff.jpg");
}

.commonroom.Gryffindor {
  background-image: url("./Images/gryffindor.jpg");
}

.commonroom.Ravenclaw {
  background-image: url("./Images/ravenclaw.jpg");
}

.commonroom.Slytherin {
  background-image: url("./Images/slytherin.jpg");
}

.commonroom h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.commonroom a {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #fff;
}